# Reviewing Data
---------------

In [2]:
import pandas as pd
import re

df=pd.read_csv("Books.csv")
df.head(5)

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",...,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",...,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",...,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",...,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.1

In [3]:
df.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52478 entries, 0 to 52477
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bookId            52478 non-null  object
 1   title             52478 non-null  object
 2   series            23470 non-null  object
 3   author            52478 non-null  object
 4   rating            52478 non-null  float64
 5   description       51140 non-null  object
 6   language          48672 non-null  object
 7   isbn              52478 non-null  object
 8   genres            52478 non-null  object
 9   characters        52478 non-null  object
 10  bookFormat        51005 non-null  object
 11  edition           4955 non-null   object
 12  pages             50131 non-null  object
 13  publisher         48782 non-null  object
 14  publishDate       51598 non-null  object
 15  firstPublishDate  31152 non-null  object
 16  awards            52478 non-null  object
 17  numRatings        52478 non-null  int64
 18  ratingsByStars    52478 non-null  object
 19  likedPercent      51856 non-null  float64
 20  setting           52478 non-null  object
 21  coverImg          51873 non-null  object
 22  bbeScore          52478 non-null  int64
 23  bbeVotes          52478 non-null  int64
 24  price             38113 non-null  object
dtypes: float64(2), int64(3), object(20)
memory usage: 10.0+ MB

# Cleaning The data
___________________________________________

In [5]:
df.duplicated(subset='title').sum()

2551

In [6]:
df=df.drop_duplicates(subset='title')

In [7]:
df.duplicated(subset='title').sum()

0

So basically the sample function takes three arguments  

->**sample size** : intuitive  

->**replace =False/True**: if a row is picked two times   

->**random_state** : is the seed

In [8]:
sample_size = 15000
df = df.sample(n=sample_size, replace=False, random_state=42)
df = df.reset_index(
    drop=True
)  # basically the reset index creates a new column of new indexes and keeps the old 
#one when we use drop=true it deletes the old one

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bookId            15000 non-null  object
 1   title             15000 non-null  object
 2   series            6501 non-null   object
 3   author            15000 non-null  object
 4   rating            15000 non-null  float64
 5   description       14613 non-null  object
 6   language          13925 non-null  object
 7   isbn              15000 non-null  object
 8   genres            15000 non-null  object
 9   characters        15000 non-null  object
 10  bookFormat        14619 non-null  object
 11  edition           1471 non-null   object
 12  pages             14350 non-null  object
 13  publisher         13998 non-null  object
 14  publishDate       14754 non-null  object
 15  firstPublishDate  8880 non-null   object
 16  awards            15000 non-null  object
 17  numRatings        15000 non-null  int64
 18  ratingsByStars    15000 non-null  object
 19  likedPercent      14817 non-null  float64
 20  setting           15000 non-null  object
 21  coverImg          14841 non-null  object
 22  bbeScore          15000 non-null  int64
 23  bbeVotes          15000 non-null  int64
 24  price             10904 non-null  object
dtypes: float64(2), int64(3), object(20)
memory usage: 2.9+ MB

In [10]:
df.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price'],
      dtype='object')

In [11]:
# df.drop().... we dropped the not needed columns
df.drop(
    columns=[
        "bookId",
        "series",
        "rating",
        "description",
        "isbn",
        "characters",
        "bookFormat",
        "edition",
        "pages",
        "publisher",
        "publishDate",
        "firstPublishDate",
        "awards",
        "numRatings",
        "ratingsByStars",
        "likedPercent",
        "setting",
        "coverImg",
        "bbeScore",
        "bbeVotes",
        "price",
    ],
    inplace=True,
    errors="ignore",
)

In [12]:
df.head(10)

,title,author,language,genres
0,The Gravity Between Us,Kristen Zimmer (Goodreads Author),English,"['LGBT', 'Romance', 'Lesbian', 'New Adult', 'C..."
1,"Something, Maybe",Elizabeth Scott (Goodreads Author),English,"['Young Adult', 'Romance', 'Contemporary', 'Ch..."
2,Gretel,Christopher Coleman (Goodreads Author),English,"['Horror', 'Fantasy', 'Mystery', 'Paranormal',..."
3,google 1649'ish: or weltfrieden is possible wi...,Nico Haupt (Goodreads Author),English,[]
4,The Museum Called Canada: 25 Rooms of Wonder,Charlotte Gray,English,"['History', 'Nonfiction', 'Canada', 'Photograp..."
5,Achtste-groepers huilen niet,"Jacques Vriens, Annet Schaap (Goodreads Author...",Dutch,"['Childrens', 'Fiction', 'Contemporary', 'Youn..."
6,Waiting for You,Susane Colasanti (Goodreads Author),English,"['Young Adult', 'Romance', 'Contemporary', 'Ch..."
7,عشق,أحمد عبد المجيد (Goodreads Author),Arabic,"['Novels', 'Fiction', 'Romance', 'Spirituality']"
8,Das Schneekind: Eine Familie unterwegs durch d...,Nicolas Vanier,NaN,"['Nonfiction', 'Biography', 'Travel', 'German ..."
9,Tishomingo Blues,Elmore Leonard,English,"['Fiction', 'Crime', 'Mystery', 'Thriller', 'S..."

In [13]:
df = df.dropna(subset=['language']) #drop the rows with null language
df.head(5)

,title,author,language,genres
0,The Gravity Between Us,Kristen Zimmer (Goodreads Author),English,"['LGBT', 'Romance', 'Lesbian', 'New Adult', 'C..."
1,"Something, Maybe",Elizabeth Scott (Goodreads Author),English,"['Young Adult', 'Romance', 'Contemporary', 'Ch..."
2,Gretel,Christopher Coleman (Goodreads Author),English,"['Horror', 'Fantasy', 'Mystery', 'Paranormal',..."
3,google 1649'ish: or weltfrieden is possible wi...,Nico Haupt (Goodreads Author),English,[]
4,The Museum Called Canada: 25 Rooms of Wonder,Charlotte Gray,English,"['History', 'Nonfiction', 'Canada', 'Photograp..."

In [14]:
print(df['author'][0:30])

0                     Kristen Zimmer (Goodreads Author)
1                    Elizabeth Scott (Goodreads Author)
2                Christopher Coleman (Goodreads Author)
3                         Nico Haupt (Goodreads Author)
4                                        Charlotte Gray
5     Jacques Vriens, Annet Schaap (Goodreads Author...
6                   Susane Colasanti (Goodreads Author)
7                    أحمد عبد المجيد (Goodreads Author)
9                                        Elmore Leonard
10                                   Arthur Conan Doyle
11                Maeve Binchy, Annet Mons (translator)
12                                      Torey L. Hayden
13                   Patrick W. Carr (Goodreads Author)
14                                        Richard Mason
15                   Sarah J. Pepper (Goodreads Author)
16                                   Robert R. McCammon
17                 Audrey Couloumbis (Goodreads Author)
18                                             Tom Holt
19                                        Cynthia Enloe
20                  Lurlene McDaniel (Goodreads Author)
21                    Sophia Bennett (Goodreads Author)
22                                        Bonnie Bryant
23                    Laura Kreitzer (Goodreads Author)
24                     Mandy M. Roth (Goodreads Author)
25                 Caroline Anderson (Goodreads Author)
26                      Stephen Wade (Goodreads Author)
27                                       Elmore Leonard
28              Wendelin Van Draanen (Goodreads Author)
29                    Reki Kawahara, abec (Illustrator)
30    Unknown, Willem die Madocke maecte, Francis Lu...
Name: author, dtype: object

# Preparing the data for vectorization
---------------------------------------------------------------------------------------------

In [15]:
def clean_parentheses(author): #we will take out all the unnecessary brackets and their inside using regex
  return re.sub(r"\(.*\)", "", author)

df['author']=df['author'].apply(clean_parentheses)
df['author'][0:30]

0                                       Kristen Zimmer
1                                      Elizabeth Scott
2                                  Christopher Coleman
3                                           Nico Haupt
4                                        Charlotte Gray
5                         Jacques Vriens, Annet Schaap
6                                     Susane Colasanti
7                                      أحمد عبد المجيد
9                                        Elmore Leonard
10                                   Arthur Conan Doyle
11                            Maeve Binchy, Annet Mons
12                                      Torey L. Hayden
13                                     Patrick W. Carr
14                                        Richard Mason
15                                     Sarah J. Pepper
16                                   Robert R. McCammon
17                                   Audrey Couloumbis
18                                             Tom Holt
19                                        Cynthia Enloe
20                                    Lurlene McDaniel
21                                      Sophia Bennett
22                                        Bonnie Bryant
23                                      Laura Kreitzer
24                                       Mandy M. Roth
25                                   Caroline Anderson
26                                        Stephen Wade
27                                       Elmore Leonard
28                                Wendelin Van Draanen
29                                 Reki Kawahara, abec
30    Unknown, Willem die Madocke maecte, Francis Lu...
Name: author, dtype: object

In [16]:
def standardize_authors(authors):
  #make the authors into a list
  author_list=authors.split(',')
  
  #standardize each name individually strip takes off beg and end spaces and replace in between
  author_list=[author.strip().replace(" ","").lower() for author in author_list]
  
  #join them back
  standardize_author = ' '.join(author_list)
  return standardize_author

df['author']=df['author'].apply(standardize_authors) #if we will re-run the code it will stick every thing together so this is done
df['author'][0:40]

0                                    kristenzimmer
1                                   elizabethscott
2                               christophercoleman
3                                        nicohaupt
4                                    charlottegray
5                        jacquesvriens annetschaap
6                                  susanecolasanti
7                                    أحمدعبدالمجيد
9                                    elmoreleonard
10                                arthurconandoyle
11                           maevebinchy annetmons
12                                   toreyl.hayden
13                                   patrickw.carr
14                                    richardmason
15                                   sarahj.pepper
16                                robertr.mccammon
17                                audreycouloumbis
18                                         tomholt
19                                    cynthiaenloe
20                                 lurlenemcdaniel
21                                   sophiabennett
22                                    bonniebryant
23                                   laurakreitzer
24                                     mandym.roth
25                                carolineanderson
26                                     stephenwade
27                                   elmoreleonard
28                              wendelinvandraanen
29                               rekikawahara abec
30    unknown willemdiemadockemaecte francislulofs
31                                      scottlynch
32                                 françoisegiroud
34                                    billycollins
35                                    sarahbrianne
36                 vladimirnabokov владимирнабоков
37                                        notabook
38      jillpitkeathly davidemerson jillpitkeathly
39                                karenwynnfonstad
40                                richardbencramer
41                          chrismackey gregmiller
Name: author, dtype: object

In [17]:
df.columns

Index(['title', 'author', 'language', 'genres'], dtype='object')

In [18]:
def clean_genres(genres):
    genres = genres.replace("[", "")
    genres = genres.replace("]", "")
    genres = genres.replace("'", "")

    genre_list = genres.split(",")
    genre_list = [genre.strip().replace(" ", "").lower() for genre in genre_list]
    unwanted_words=['lgbt', 'lesbian','gay','transgender', 'lesbianromance','gayromance','transgenderromance','lgbtromance'] #remove the things i don't want in my projects
    genre_list=[genre for genre in genre_list if genre not in unwanted_words]
    genres = " ".join(genre_list)
    return genres


df["genres"] = df["genres"].apply(clean_genres)
df["genres"][0:10]

0     romance newadult contemporary queer youngadult...
1     youngadult romance contemporary chicklit ficti...
2     horror fantasy mystery paranormal fiction fair...
3
4                 history nonfiction canada photography
5     childrens fiction contemporary youngadult midd...
6     youngadult romance contemporary chicklit reali...
7                   novels fiction romance spirituality
9     fiction crime mystery thriller suspense detect...
10    classics mystery fiction crime shortstories ad...
Name: genres, dtype: object

In [19]:
def lower_Everything(column):
  return column.str.lower()

df=df.apply(lower_Everything)
df.head(6)

,title,author,language,genres
0,the gravity between us,kristenzimmer,english,romance newadult contemporary queer youngadult...
1,"something, maybe",elizabethscott,english,youngadult romance contemporary chicklit ficti...
2,gretel,christophercoleman,english,horror fantasy mystery paranormal fiction fair...
3,google 1649'ish: or weltfrieden is possible wi...,nicohaupt,english,
4,the museum called canada: 25 rooms of wonder,charlottegray,english,history nonfiction canada photography
5,achtste-groepers huilen niet,jacquesvriens annetschaap,dutch,childrens fiction contemporary youngadult midd...

In [20]:
def clean_title(title):
  title = re.sub(r'[^A-Za-z\u0600-\u06FF\s]', '', title)
  title = re.sub(r'\s+', ' ', title)
  return title.strip()

df = df.dropna(subset=['title']) 
df['title']=df['title'].apply(clean_title)
df['title'][0:20]

0                                the gravity between us
1                                       something maybe
2                                                gretel
3     google ish or weltfrieden is possible within m...
4              the museum called canada rooms of wonder
5                           achtstegroepers huilen niet
6                                       waiting for you
7                                                   عشق
9                                      tishomingo blues
10    the adventures of sherlock holmes and other st...
11                                       silver wedding
12                                           ghost girl
13                                     a cast of stones
14                              the world of suzie wong
15                              death of the mad hatter
16                                  the queen of bedlam
17                             not exactly a love story
18                                         flying dutch
19    bananas beaches and bases making feminist sens...
20                                   the angels trilogy
Name: title, dtype: object

In [21]:
df['data'] = df[df.columns[0:]].apply(
    lambda x: ' '.join(x.astype(str)),
    axis=1
)
df.head(50)

df.to_csv('Cleaned_Books.csv',index=False)

# Content Filter Now
-----------------------------------------------------------------

In [22]:
df2=pd.read_csv('Cleaned_Books.csv')
df2.head(6)

,title,author,language,genres,data
0,the gravity between us,kristenzimmer,english,romance newadult contemporary queer youngadult...,the gravity between us kristenzimmer english r...
1,something maybe,elizabethscott,english,youngadult romance contemporary chicklit ficti...,something maybe elizabethscott english youngad...
2,gretel,christophercoleman,english,horror fantasy mystery paranormal fiction fair...,gretel christophercoleman english horror fanta...
3,google ish or weltfrieden is possible within m...,nicohaupt,english,NaN,google ish or weltfrieden is possible within m...
4,the museum called canada rooms of wonder,charlottegray,english,history nonfiction canada photography,the museum called canada rooms of wonder charl...
5,achtstegroepers huilen niet,jacquesvriens annetschaap,dutch,childrens fiction contemporary youngadult midd...,achtstegroepers huilen niet jacquesvriens anne...

# Vectorize-ing our data columns:
______________________________________________________________________________________________

In [23]:
df2=pd.read_csv('Cleaned_Books.csv')
df2.head(6)

,title,author,language,genres,data
0,the gravity between us,kristenzimmer,english,romance newadult contemporary queer youngadult...,the gravity between us kristenzimmer english r...
1,something maybe,elizabethscott,english,youngadult romance contemporary chicklit ficti...,something maybe elizabethscott english youngad...
2,gretel,christophercoleman,english,horror fantasy mystery paranormal fiction fair...,gretel christophercoleman english horror fanta...
3,google ish or weltfrieden is possible within m...,nicohaupt,english,NaN,google ish or weltfrieden is possible within m...
4,the museum called canada rooms of wonder,charlottegray,english,history nonfiction canada photography,the museum called canada rooms of wonder charl...
5,achtstegroepers huilen niet,jacquesvriens annetschaap,dutch,childrens fiction contemporary youngadult midd...,achtstegroepers huilen niet jacquesvriens anne...

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer=CountVectorizer() #create an instance of the function, we use it instead of the original function so we it can learn the vocabulary and we can use later
vectorized = vectorizer.fit_transform(df2['data']) # this is our matrix
vectorized

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 195902 stored elements and shape (13925, 26720)>

# Cosine Similarity 
_______________________________________________________________________________

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

similarities=cosine_similarity(vectorized) #nBooks*nBooks each cell(i,j) is the cosine similarity between the Book_i and Book_j
print(similarities)

[[1.         0.37062466 0.15384615 ... 0.44474959 0.28644595 0.25451391]
 [0.37062466 1.         0.14824986 ... 0.28571429 0.27602622 0.12262787]
 [0.15384615 0.14824986 1.         ... 0.14824986 0.14322297 0.31814238]
 ...
 [0.44474959 0.28571429 0.14824986 ... 1.         0.20701967 0.12262787]
 [0.28644595 0.27602622 0.14322297 ... 0.20701967 1.         0.29617444]
 [0.25451391 0.12262787 0.31814238 ... 0.12262787 0.29617444 1.        ]]

In [26]:
df_rec= pd.DataFrame(similarities,columns=df2['title'],index=df2['title']).reset_index() #we made both the columns and the rows(index) as the book title then we reset the index so we can make the rows 'normal rows' and get new column for indexes
df_rec.head(6)
#notice that the diagonal is always 1 because same books are 100% similar

title,title,the gravity between us,something maybe,gretel,google ish or weltfrieden is possible within minutes,the museum called canada rooms of wonder,achtstegroepers huilen niet,waiting for you,عشق,tishomingo blues,...,bravo two zero,the magic mountain,the family trade,a closed and common orbit,dialectic of enlightenment philosophical fragments,why does emc and why should we care,trilce,nikolai volume,the wonder spot,the hunter and the hunted
0,the gravity between us,1.000000,0.370625,0.153846,0.087706,0.143223,0.222375,0.429669,0.209657,0.148250,...,0.071611,0.201802,0.286446,0.214834,0.062017,0.056614,0.098058,0.444750,0.286446,0.254514
1,something maybe,0.370625,1.000000,0.148250,0.084515,0.069007,0.214286,0.690066,0.202031,0.142857,...,0.069007,0.129641,0.276026,0.138013,0.059761,0.054554,0.094491,0.285714,0.276026,0.122628
2,gretel,0.153846,0.148250,1.000000,0.087706,0.071611,0.074125,0.143223,0.104828,0.296500,...,0.143223,0.134535,0.214834,0.214834,0.062017,0.056614,0.098058,0.148250,0.143223,0.318142
3,google ish or weltfrieden is possible within m...,0.087706,0.084515,0.087706,1.000000,0.081650,0.000000,0.081650,0.000000,0.084515,...,0.081650,0.076696,0.081650,0.081650,0.070711,0.064550,0.111803,0.084515,0.081650,0.072548
4,the museum called canada rooms of wonder,0.143223,0.069007,0.071611,0.081650,1.000000,0.000000,0.066667,0.000000,0.069007,...,0.200000,0.125245,0.133333,0.066667,0.230940,0.105409,0.091287,0.069007,0.200000,0.177705
5,achtstegroepers huilen niet,0.222375,0.214286,0.074125,0.000000,0.000000,1.000000,0.207020,0.101015,0.071429,...,0.000000,0.129641,0.138013,0.069007,0.059761,0.000000,0.094491,0.142857,0.138013,0.061314

# Recommending Books :
________________________________________________________________________________________________________________

In [34]:
# Ask the user to type the book title
input_book = input("Enter the book title you want recommendations for: ")

# Check if the book exists in the dataset
if input_book not in df_rec.columns:
    print(f"Sorry, '{input_book}' was not found in the dataset.")
    print("Please make sure you enter the exact title (lowercase, no special characters).")
else:
    # Get top 11 most similar books (including the book itself)
    recommendations = pd.DataFrame(df_rec.nlargest(11, input_book)['title'])
    
    # Remove the input book from the recommendations
    recommendations = recommendations[recommendations['title'] != input_book]
    
    # Show the result
    print("\nTop 10 recommendations for '{}':\n".format(input_book))
    print(recommendations.to_string(index=False))

Top 10 recommendations for 'something maybe':

                     title
               perfect you
       something like fate
            shooting stars
               french kiss
          leaving paradise
           waiting for you
            so much closer
        better off friends
    anatomy of a boyfriend
the summer i became a nerd